<!doctype html>
<title>Add Problem</title>
<h1>Add Problem</h1>

<form method="post">
  {{ form.hidden_tag() }}
  <table>
    <tr>
      <td> {{ form.url.label }} </td>
      <td> {{ form.url(size=20) }} </td>
    </tr>
    <tr>
      <td> {{ form.index.label }} </td>
      <td> {{ form.index(size=20) }} </td>
    </tr>
    <tr>
      <td> {{ form.title.label }} </td>
      <td> {{ form.title(size=20) }} </td>
    </tr>
    <tr>
      <td> {{ form.statement.label }} </td>
      <td> {{ form.statement(rows=10, cols=50) }} </td>
    </tr>
  </table>
  <input type="submit" value="Submit">
</form>
