{% extends "base.html" %}
{% block title %}Problems{% endblock %}
{% block content %}
  <table class="table">
    <thead>
      <tr>
        <th>Problem</th>
      </tr>
    </thead>
    <tbody>
      {% for problem in problems %}
        <tr>
          <td>
            <a href="problem/{{ problem.id }}">{{ problem.title }}</a>
            {% if problem in solves %}
              <span class="glyphicon glyphicon-ok pull-right" style="color:green"></span>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
