<!doctype html>
<title>Status</title>
<h1>Status</h1>
<table>
  <tr>
    <th> # </th>
    <th> Problem </th>
    <th> Verdict </th>
    <th> Time </th>
    <th> Memory </th>
    <th> User </th>
  </tr>
  {% for submission in submissions %}
    <tr>
      <td> {{ submission.id }} </td>
      <td> {{ submission.problem.title }} </td>
      <td> {{ submission.verdict }} </td>
      <td> {{ submission.runtime }} </td>
      <td> {{ submission.memory }} </td>
      <td> {{ submission.user.username }} </td>
    </tr>
  {% endfor %}
</table>
